{% load staticfiles %}
<!--=== Footer ===-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 md-margin-bottom-40">
                    <div class="headline"><h2>About</h2></div>
                    <p class="margin-bottom-25 md-margin-bottom-40">Airborne Imaging is an aerial photography company dedicating to providing easy-to-access, quality photos delivered from an aerial platform.</p>
                    <div class="headline"><h2>Blimp Sales</h2></div>
                    <p class="margin-bottom-25 md-margin-bottom-40">Be sure to check out <a href="http://eblimp.com">EBlimp.com</a>.  The same blimps we use for aerial photography can also be purchased to any number of specifications.</p>
            </div><!--/col-md-4-->

            <div class="col-md-4 md-margin-bottom-40">
                <!-- Recent Blogs -->
                <div class="posts">
                    <div class="headline"><h2>Recent Events</h2></div>
                    {% for event in global_recent_events %}
                    <dl class="dl-horizontal">
                        <dt><a href="{{ event.url }}"><img src="{{ event.cover_picture_thumbnail }}" alt="">{{ event.url }}</a></dt>
                        <dd>
                        <p><a href="{{ event.url }}">{{ event.name }}</a></p>
                        </dd>
                    </dl>
                    {% endfor %}
                </div>
                <!-- End Recent Blogs -->
            </div><!--/col-md-4-->

            <div class="col-md-4">
                <!-- Contact Us -->
                <div class="headline"><h2>Contact Us</h2></div>
                <address class="md-margin-bottom-40">
                    Phone: 949.583.9571<br/>
                    Skype: eBlimp<br />
                    Email: <a href="mailto:eBlimp@yahoo.com" class="">eBlimp@yahoo.com</a>
                </address>
                <!-- End Contact Us -->

                <!-- Social Links -->
                <div class="headline"><h2>Stay Connected</h2></div>
                <ul class="social-icons">
                    <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                    <li><a href="#" data-original-title="YouTube" class="social_youtube"></a></li>
                </ul>
                <!-- End Social Links -->
            </div><!--/col-md-4-->
        </div>
    </div>
</div><!--/footer-->
<!--=== End Footer ===-->
<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>
                    2014 &copy; MicroFlight Inc. ALL Rights Reserved.
                    <a href="/privacy/">Privacy Policy</a> | <a href="/tos/">Terms of Service</a>
                </p>
            </div>
            <div class="col-md-6">
                <a href="/">
                    <img class="pull-right" id="logo-footer" style="width: 200px; margin-right: 150px;" src="{% static 'assets/img/airborne_imaging_with_back.png' %}" alt="">
                </a>
            </div>
        </div>
    </div>
</div><!--/copyright-->
<!--=== End Copyright ===-->
