{% load staticfiles %}
<!--=== Header ===-->
<div class="header">

    <!-- Navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img id="logo-header" src="{% static 'assets/img/logo1-default.png' %}" alt="Logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <!-- TODO SBL add active next to the class for current page -->
                    <li>
                    <a href="/" class="dropdown-toggle">
                            Home
                        </a>
                    </li>
                    <!-- End Home -->

                    <!-- Find Photos -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Find Photos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/calendar/{{ now_month }}/{{ now_year }}/">By Date Taken</a></li>
                            <li><a href="/events/">By Event</a></li>
                        </ul>
                    </li>
                    <!-- End Find Photos -->

                    <li>
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                            Request Private Shoot
                        </a>
                    </li>
                    <!-- Features -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            More...
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="portfolio_2_column.html">About</a></li>
                            <li><a href="portfolio_2_column.html">Contact</a></li>
                            <li><a href="portfolio_2_column.html">FAQ</a></li>
                            <li><a href="portfolio_2_column.html">Pricing</a></li>
                            <li><a href="portfolio_2_column.html">Privacy Policy</a></li>
                            <li><a href="portfolio_2_column.html">Testimonials</a></li>
                        </ul>
                    </li>
                    <!-- End Features -->

                    <!-- Search Block -->
                    <li>
                        <i class="search fa fa-search search-btn"></i>
                        <div class="search-open">
                            <div class="input-group animated fadeInDown">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="button">Go</button>
                                </span>
                            </div>
                        </div>
                    </li>
                    <!-- End Search Block -->
                </ul>
            </div><!--/navbar-collapse-->
        </div>
    </div>
    <!-- End Navbar -->
</div>
<!--=== End Header ===-->
