{% extends "body_template.html" %}
{% load staticfiles %}

{% block header_area %}
<h3>
    {{ date_formatted }}
</h3>
{% endblock %}

{% block content %}
  <style type="text/css">
  .dayName
  {
    color: #FFF;
    background-color: #000;
    font-size: .8em;
    text-align: center;
  }
  .day
  {
      border: 1px solid #444;
      height: 60px;
      width: 90px;
      cursor: pointer;
      background-repeat: no-repeat;
      padding-left: 5px;
  }
  .day:hover
  {
    color: #FFF;
    background-color: #666;
    opacity: 0.4;
  }
  .exercises
  {
    padding: 0;
    border: none;
    margin: 0;
    font-size: 0.75em;
    font-family: arial;
  }
</style>
<center>
<strong>
<div style="vertical-align: middle;">
<select id="monthSelect" style="vertical-align: middle; font-size: 2em;">
  <option value="0">Select a different month...</option>
  <option value="1">January</option>
  <option value="2">February</option>
  <option value="3">March</option>
  <option value="4">April</option>
  <option value="5">May</option>
  <option value="6">June</option>
  <option value="7">July</option>
  <option value="8">August</option>
  <option value="9">September</option>
  <option value="10">October</option>
  <option value="11">November</option>
  <option value="12">December</option>
</select>
<br/>
<br/>
<select id="hiddenYear" style="font-size: 2em; vertical-align: middle;">
  <option value="0">Select a year...</option>
  <option value="2013">2013</option>
  <option value="2014">2014</option>
</select>
</div>
<h1>
<br/>
</h1>
</strong>
</center>
<div style="width: 80%; margin: auto;">
    <p style="display: inline; font-size: 1.5em;">
    <a href="/calendar/{{ prev_month }}/{{ prev_year }}">Previous</a>
    </p>

    <p style="display: inline; text-align: right; float: right; font-size: 1.5em;">
    <a href="/calendar/{{ next_month }}/{{ next_year }}">Next</a>
    </p>
</div>
<div style="clear: both;"></div>

<center>
<table style="width: 80%;">
    <tr>
        <td class="dayName">
            Sunday
        </td>
        <td class="dayName">
            Monday
        </td>
        <td class="dayName">
            Tuesday
        </td>
        <td class="dayName">
            Wednesday
        </td>
        <td class="dayName">
            Thursday
        </td>
        <td class="dayName">
            Friday
        </td>
        <td class="dayName">
            Saturday
        </td>
    </tr>
    {% for week in calendar_matrix %}
        <tr>
        {% for day_dict in week %}
            <td class="day" id="{{day_dict.day}}">
                {{ day_dict.day }}
                <br/><br/>
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
</center>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#hiddenYear").hide();
        {% for day_number, picture in day_to_picture.items %}
            var el = $('#' + {{ day_number }})[0];
            el.style.color = "white";
            el.style.backgroundImage = "url('{{ picture.thumbnail_url }}')";
            el.style.backgroundPosition = "center";
            $('#' + {{ day_number }}).click(function(){
                window.location = "/pictures/{{ month }}/{{ day_number }}/{{ year}}/";
            });
        {% endfor %}
        $("#monthSelect").change(function(){
            $("#hiddenYear").show();
        });
        $("#hiddenYear").change(function(){
            window.location = "/calendar/" + $("#monthSelect").val() + "/" + $("#hiddenYear").val() + "/";
        });
    });
</script>
{% endblock %}

