{% extends "body_template.html" %}
{% load staticfiles %}

{% block header_area %}
<h3>
    Checkout
</h3>
<span style="font-size: 12px;">You will be prompted for your Email address in the following step.  Upon completion of the order, pictures will be Emailed directly to you.</span>
{% endblock %}

{% block content %}
            <table class="table table-striped invoice-table">
                <thead>
                    <tr>
                        <th class="hidden-sm">Picture</th>
                        <th class="hidden-sm">Size</th>
                        <th class="hidden-sm">Price</th>
                        <th class="hidden-sm"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for picture in pictures %}
                        <tr>
                            <td><img style="width: 100px;" src='{{ picture.thumbnail_url }}'/></td>
                            <td>{{ picture.dimensions}}</td>
                            <td><i class="fa fa-dollar"></i> {{ picture.price }}</td>
                            <td><a id='{{ picture.id }}' href='javascript:void(0);' style='background: #bbb;' class='btn-u  removeItem'>
                                    <i class="fa fa-trash-o"></i> Remove </a></td>
                        </tr>
                    {% endfor %}
                    {% if total %}
                    <tr>
                        <td><strong>Total:</strong></td>
                        <td></td>
                        <td><strong><i class="fa fa-dollar"></i> {{ total }}</strong></td>
                        <td>
                            <form action="/finish_checkout/" method="POST">
                            <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{ publishable_key }}"
                                data-amount="{{ stripe_data_amount }}"
                                data-name="Airborne Imaging"
                                data-description="{{ num_pictures }} Pictures (${{total}})"
                                data-image="{% static 'assets/img/helicopter.png' %}">
                            </script>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $(".removeItem").click(function(e){
        var pictureID = e.target.id;
        var url = "/add_to_cart/";
        $.ajax({
            type: "DELETE",
            url: url,
            data: {
                pictureID: pictureID
            },
            success: function(response){
                location.reload();
            }
        });
    });
});
</script>
{% endblock %}
