{% extends "body_template.html" %}
{% load staticfiles %}

{% block slider_area %}
    <!--=== Slider ===-->
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <h2><i>Airborne Imagery</i></h2>
                <p><i>Bringing the best in aerial</i><br/>
                   <i>photography through the use</i><br/>
                   <i>of multiple aerial platforms!</i></p>
                <div class="da-img"><img class="img-responsive" src="{% static 'assets/img/helicopter.png' %}" alt=""></div>
            </div>

            <div class="da-slide">
                <h2><i>A Subsidiary of Eblimp</i></h2>
                <p>
                    <i>The premiere manufacturer</i><br/>
                    <i>of RC blimps worldwide!</i><br/>
                </p>
                <div class="da-img"><img class="img-responsive" src="{% static 'assets/img/blimp.png' %}" alt=""></div>
            </div>

            <div class="da-slide">
                <h2>
                    <i>View or Purchase</i><br/>
                    <i>Aerial Photos!</i>
                </h2>
                <p>
                    <i>Pictures available for sale are taken in</i><br/>
                    <i>public venues and can be found by the date</i><br/>
                    <i>they were taken or by searching the name</i><br/>
                    <i>of the event they were associated with</i><br/>
                </p>
                <div class="da-img"><img class="img-responsive" src="{% static 'assets/plugins/parallax-slider/img/1.png' %}" alt=""></div>
            </div>

            <div class="da-slide">
                <h2><i>Like Us on Facebook!</i></h2>
                <p>
                    <i>Get Updates</i><br/>
                    <i>View Pictures</i><br/>
                    <i>Give Feedback</i><br/>
                </p>
                <div class="da-img">
                    <img class="img-responsive" style="width: 50%;" src="{% static 'assets/img/facebook_like.png' %}">
                    <!-- <iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
                </div>
            </div>

            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </div>
        </div>
    </div><!--/slider-->
    <!--=== End Slider ===-->
{% endblock %} <!-- slider_area -->

{% block header_area %}
    <div class="col-md-9 animated fadeInLeft">
        <span>Airborne Imagery</span>
        <p>
            Serving the greater Los Angeles area and abroad, Airborne Imagery is an aerial photography company started in associated with <a href="http://eblimp.com">EBlimp.com</a></p>
        </p>
        <p style="margin-top: 10px"> <!-- TODO move this to CSS -->
        In addition to providing unique aerial perspectives with helicopter drones and unique to our company as a blimp manufacturer, we are capable of providing services using a stable dirigible for cases in which prolonged air time is preferable or in public venues where safety is required.
        </p>
    </div>

    <div class="col-md-3 btn-buy animated fadeInRight">
        <a href="/blahblah" class="btn-u btn-u-lg"><i class="fa fa-camera-retro ">
    </i> View Photos</a>
    </div>
{% endblock %}

{% block content %}
    	<!-- Service Blocks -->
    	<div class="row margin-bottom-30">
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-check service-icon"></i>
        			<div class="desc">
        				<h4>Privacy Protected</h4>
                        <p>
                        While we ensure that the pictures that we take are in public venues and that we are in compliance with all US and international laws as applicable, we understand the privacy concerns associated with drones and are more than willing to remove any photos that may create a perception of infringed privacy.  Feel free to <a href="blahblah">contact us</a> if you want any photos removed or view our more in-depth privacy policy.
                            <br/><a href="blahblah">Read more...</a>
                        </p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-check service-icon"></i>
        			<div class="desc">
                        <h4>Rapid Turnaround</h4>
                        <p>
                            If you see one of our blimps or drones at an event and are looking to view it online, we typically have the pictures available for sale as soon as we regain internet access and have time to filter out any inappropriate photos.
                            <br/><a href="blahblah">Read more...</a>
                        </p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-check service-icon"></i>
        			<div class="desc">
        				<h4>Private Shoots Available</h4>
                        <p>
                            While our typical business model is to photograph public events from a unique aerial perspective, private shoots are available upon request.  <a href="blahblah">Contact us</a> to see about pricing.  Pricing is dependent upon location and type of preferred aerial platform.
                        </p>

                            <br/><a href="blahblah">Read more...</a>
                        </p>
        			</div>
        		</div>
        	</div>
    	</div>
    	<!-- End Service Blokcs -->

    	<!-- Recent Works -->
        <div class="headline"><h2>Recent Works</h2></div>
        <div class="row margin-bottom-20">

            {% for event in recent_events %}
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnails thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden">
                                <!-- SBL TODO get rid of inline CSS -->
                                <img class="img-responsive" style="width: 250px;" src="{{ event.cover_picture.thumbnail_url }}" alt="">
                            </div>
                            <a class="btn-more hover-effect" href="#">read more +</a>
                        </div>
                        <div class="caption">
                            <h3><a class="hover-effect" href="#">{{ event.name }}</a></h3>
                            <p><!-- about text can go here --></p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    	<!-- End Recent Works -->

    	<!-- Info Blokcs -->
    	<div class="row margin-bottom-30">
        	<!-- Welcome Block -->
    		<div class="col-md-8 md-margin-bottom-40">
    			<div class="headline"><h2>Welcome To Unify</h2></div>
                <div class="row">
                    <div class="col-sm-4">
                        <img class="img-responsive margin-bottom-20" src="{% static 'assets/img/main/6.jpg' %}" alt="">
                    </div>
                    <div class="col-sm-8">
                        <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
                        <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
                            <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                            <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
                            <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                        </ul>
                    </div>
                </div>

                <blockquote class="hero-unify">
                    <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>
                    <small>CEO, Jack Bour</small>
                </blockquote>
            </div><!--/col-md-8-->

            <!-- Latest Shots -->
            <div class="col-md-4">
    			<div class="headline"><h2>Latest Shots</h2></div>
    			<div id="myCarousel" class="carousel slide carousel-v1">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{% static 'assets/img/main/5.jpg' %}" alt="">
                            <div class="carousel-caption">
                                <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{% static 'assets/img/main/4.jpg' %}" alt="">
                            <div class="carousel-caption">
                                <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
                            </div>
                            </div>
                        <div class="item">
                            <img src="{% static 'assets/img/main/3.jpg' %}" alt="">
                            <div class="carousel-caption">
                                <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-arrow">
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
    			</div>
            </div><!--/col-md-4-->
    	</div>
    	<!-- End Info Blokcs -->
{% endblock %} <!-- content -->
