{% extends "body_template.html" %}
{% load staticfiles %}

{% block slider_area %}
    <!--=== Slider ===-->
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <h2><i>Airborne Imagery</i></h2>
                <p><i>Bringing the best in aerial</i><br/>
                   <i>photography through the use</i><br/>
                   <i>of multiple aerial platforms!</i></p>
                <div class="da-img"><img class="img-responsive" src="{% static 'assets/img/helicopter.png' %}" alt=""></div>
            </div>

            <div class="da-slide">
                <h2><i>A Subsidiary of Eblimp</i></h2>
                <p>
                    <i>The premiere manufacturer</i><br/>
                    <i>of RC blimps worldwide!</i><br/>
                </p>
                <div class="da-img"><img class="img-responsive" src="{% static 'assets/img/blimp.png' %}" alt=""></div>
            </div>

            <div class="da-slide">
                <h2>
                    <i>View or Purchase</i><br/>
                    <i>Aerial Photos!</i>
                </h2>
                <p>
                    <i>Pictures available for sale are taken in</i><br/>
                    <i>public venues and can be found by the date</i><br/>
                    <i>they were taken or by searching the name</i><br/>
                    <i>of the event they were associated with</i><br/>
                </p>
                <div class="da-img"><img class="img-responsive" src="{% static 'assets/plugins/parallax-slider/img/1.png' %}" alt=""></div>
            </div>

            <div class="da-slide">
                <h2><i>Like Us on Facebook!</i></h2>
                <p>
                    <i>Get Updates</i><br/>
                    <i>View Pictures</i><br/>
                    <i>Give Feedback</i><br/>
                </p>
                <div class="da-img">
                    <img class="img-responsive" style="width: 50%;" src="{% static 'assets/img/facebook_like.png' %}">
                    <!-- <iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
                </div>
            </div>

            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </div>
        </div>
    </div><!--/slider-->
    <!--=== End Slider ===-->
{% endblock %} <!-- slider_area -->

{% block header_area %}
    <div class="col-md-9 animated fadeInLeft">
        <span>Airborne Imagery</span>
        <p>
            Serving the greater Los Angeles area and abroad, Airborne Imagery is an aerial photography company started in associated with <a href="http://eblimp.com">EBlimp.com</a></p>
        </p>
        <p style="margin-top: 10px"> <!-- TODO move this to CSS -->
        In addition to providing unique aerial perspectives with helicopter drones and unique to our company as a blimp manufacturer, we are capable of providing services using a stable dirigible for cases in which prolonged air time is preferable or in public venues where safety is required.
        </p>
    </div>

    <div class="col-md-3 btn-buy animated fadeInRight">
        <a href="/calendar/{{ now_month }}/{{ now_year }}/" class="btn-u btn-u-lg"><i class="fa fa-camera-retro ">
    </i> View Photos</a>
    </div>
{% endblock %}

{% block content %}
    	<!-- Service Blocks -->
    	<div class="row margin-bottom-30">
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-check service-icon"></i>
        			<div class="desc">
        				<h4>Privacy Protected</h4>
                        <p>
                        While we ensure that the pictures that we take are in public venues and that we are in compliance with all US and international laws as applicable, we understand the privacy concerns associated with drones and are more than willing to remove any photos that may create a perception of infringed privacy.  Feel free to <a href="/contact/">contact us</a> if you want any photos removed or view our more in-depth privacy policy.
                            <br/><a href="/privacy/">Read more...</a>
                        </p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-check service-icon"></i>
        			<div class="desc">
                        <h4>Rapid Turnaround</h4>
                        <p>
                            If you see one of our blimps or drones at an event and are looking to view it online, we typically have the pictures available for sale as soon as we regain internet access and have time to filter out any inappropriate photos.
                            <br/><a href="/about/">Read more...</a>
                        </p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-check service-icon"></i>
        			<div class="desc">
                        <h4>High Resolution DSLR Photos</h4>
                        <p>
                            While the viewable images on this site are scaled down in resolution and watermarked as appropriate in order to protect property, all of our photos are taken with high quality DSLR cameras.  Pricing for a digital photo is dependent upon desired image quality.
                        </p>

                            <br/><a href="/pricing/">Read more...</a>
                        </p>
        			</div>
        		</div>
        	</div>
    	</div>
    	<!-- End Service Blokcs -->

    	<!-- Recent Works -->
        <div class="headline"><h2>Recent Events</h2></div>
        <div class="row margin-bottom-20">

            {% for event in recent_events %}
                {% if event.cover_picture_thumbnail %}
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnails thumbnail-style thumbnail-kenburn">
                            <div class="thumbnail-img">
                                <div class="overflow-hidden">
                                    <!-- SBL TODO get rid of inline CSS -->
                                    <a href="{{ event.url }}">
                                        <img class="img-responsive" style="width: 250px;" src="{{ event.cover_picture_thumbnail }}" alt="">
                                    </a>
                                </div>
                                <a class="btn-more hover-effect" href="{{ event.url }}">View More</a>
                            </div>
                            <div class="caption">
                                <h3><a class="hover-effect" href="{{ event.url }}">{{ event.name }}</a></h3>
                                <p><!-- about text can go here --></p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    	<!-- End Recent Works -->

    	<!-- Info Blokcs -->
    	<div class="row margin-bottom-30">
        	<!-- Welcome Block -->
    		<div class="col-md-8 md-margin-bottom-40">
    			<div class="headline"><h2>More</h2></div>
                <div class="row">
                    <div class="col-sm-4">
                        <img class="img-responsive margin-bottom-20" src="{% static 'assets/img/larry_scott.jpg' %}" alt="">
                    </div>
                    <div class="col-sm-8">
                        <p>Airborne Imaging is an aerial photography company dedicating to providing easy-to-access, quality photos delivered from an aerial platform.</p>
                        <ul class="list-unstyled margin-bottom-20">


                            <li><i class="fa fa-check color-green"></i> MicroFlight Inc, a CA Corp since 2001</li>
                            <li><i class="fa fa-check color-green"></i> Our crew has operated over 1,000 different events</li>
                        </ul>
                    </div>
                </div>
            </div><!--/col-md-8-->

            <!-- Latest Shots -->
            <div class="col-md-4" style="height: 400px; overflow: hidden;">
    			<div class="headline"><h2>Latest Shots</h2></div>
    			<div id="myCarousel" class="carousel slide carousel-v1">
                    <div class="carousel-inner">
                        {% for picture in recent_pictures %}
                        <div class="item {% if forloop.first %}active{% endif %}">
                            <img src="{{ picture.watermark_url }}" alt="">
                            <div class="carousel-caption">
                                <p> {{picture.event_name }}</p>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    <div class="carousel-arrow">
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
    			</div>
            </div><!--/col-md-4-->
    	</div>
    	<!-- End Info Blokcs -->
{% endblock %} <!-- content -->
