{% extends "body_template.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <!-- About Us -->
        <div class="margin-bottom-30">
            <div class="headline"><h2>About Us</h2></div>
            <p>Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, conse cteturse adipiscing elit magna.</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-check color-green"></i> Consectetur adipiscing elit</li>
                <li><i class="fa fa-check color-green"></i> Ipsum dolor sit amet</li>
                <li><i class="fa fa-check color-green"></i> Personal and effective approach</li>
                <li><i class="fa fa-check color-green"></i> Ut non libero magna sedot</li>
            </ul>
        </div>

        <!-- Posts -->
        <div class="posts margin-bottom-30">
            <div class="headline"><h2>Recent Blog Entries</h2></div>
            <dl class="dl-horizontal">
                <dt><a href="#"><img src="{% static 'assets/img/sliders/elastislide/10.jpg' %}" alt="" /></a></dt>
                <dd>
                    <p><a href="#">Lorem sequat ipsum dolor lorem sunt aliqua put</a></p>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt><a href="#"><img src="{% static 'assets/img/sliders/elastislide/11.jpg' %}" alt="" /></a></dt>
                <dd>
                    <p><a href="#">It works on all major web browsers tablets</a></p>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt><a href="#"><img src="{% static 'assets/img/sliders/elastislide/9.jpg' %}" alt="" /></a></dt>
                <dd>
                    <p><a href="#">Brunch 3 wolf moon tempor sunt aliqua put.</a></p>
                </dd>
            </dl>
        </div><!--/posts-->

        <!-- Contact Us -->
        <div class="who margin-bottom-30">
            <div class="headline"><h2>Contact Us</h2></div>
            <p>Vero facilis est etenim a feugiat cupiditate non quos etrerum facilis.</p>
            <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-home"></i>5B amus ED554, New York, US</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i>infp@example.com</a></li>
                <li><a href="#"><i class="fa fa-phone"></i>1(222) 5x86 x97x</a></li>
                <li><a href="#"><i class="fa fa-globe"></i>http://www.example.com</a></li>
            </ul>
        </div>
    </div><!--/col-md-3-->

    <div class="col-md-9">
        <!-- Our Services -->
        <div class="headline"><h2>Our Services</h2></div>
        <div class="row margin-bottom-10">
            <div class="col-md-4 col-sm-6">
                <div class="servive-block servive-block-default">
                    <i class="icon-custom icon-color-dark rounded-x fa fa-lightbulb-o"></i>
                    <h2 class="heading-md">Default Box</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="servive-block servive-block-red">
                    <i class="icon-custom icon-color-light rounded-x icon-line icon-fire"></i>
                    <h2 class="heading-md">Red Box</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="servive-block servive-block-dark">
                    <i class="icon-custom icon-color-light rounded-x icon-line icon-rocket"></i>
                    <h2 class="heading-md">Dark Box</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                </div>
            </div>
        </div>                <!-- End Our Services -->

        <!-- Blockquotes -->
        <p>Unify is an <strong class="color-green">incredibly beautiful</strong> responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers. Award winning digital agency. We bring a personal and effective approach adipiscing elit approach to <strong class="color-green">every project</strong> we work on, which is why our clients love us and why they. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit.</p>
        <p>Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, conse cteturse adipiscing elit magna consectetur and effective.</p>
        <br>
        <blockquote class="hero-unify margin-bottom-40">
            <p>Award winning digital agency. We bring a personal and effective consectetur and effective approach adipiscing elit approach to every project we work on, which is why our clients love us and why they.</p>
            <small>CEO, Jack Baur</small>
        </blockquote>
        <!-- End Blockquotes -->

        <!-- Recent Works -->
        <div class="headline"><h2>Recent Works</h2></div>
        <div class="margin-bottom-40">
            <ul id="list" class="bxslider1 recent-work margin-bottom-40">
                <li>
                    <a href="#">
                        <em class="overflow-hidden"><img src="{% static 'assets/img/main/2.jpg' %}" alt="" /></em>
                        <span>
                            <strong>Happy New Year</strong>
                            <i>Anim pariatur cliche reprehenderit</i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <em class="overflow-hidden"><img src="{% static 'assets/img/main/9.jpg' %}" alt="" /></em>
                        <span>
                            <strong>Award Winning Agency</strong>
                            <i>Responsive Bootstrap Template</i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <em class="overflow-hidden"><img src="{% static 'assets/img/main/4.jpg' %}" alt="" /></em>
                        <span>
                            <strong>Wolf Moon Officia</strong>
                            <i>Pariatur prehe cliche reprehrit</i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <em class="overflow-hidden"><img src="{% static 'assets/img/main/5.jpg' %}" alt="" /></em>
                        <span>
                            <strong>Food Truck Quinoa Nesciunt</strong>
                            <i>Craft labore wes anderson cred</i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <em class="overflow-hidden"><img src="{% static 'assets/img/main/6.jpg' %}" alt="" /></em>
                        <span>
                            <strong>Happy New Year</strong>
                            <i>Anim pariatur cliche reprehenderit</i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <em class="overflow-hidden"><img src="{% static 'assets/img/main/7.jpg' %}" alt="" /></em>
                        <span>
                            <strong>Award Winning Agency</strong>
                            <i>Responsive Bootstrap Template</i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <em class="overflow-hidden"><img src="{% static 'assets/img/main/8.jpg' %}" alt="" /></em>
                        <span>
                            <strong>Wolf Moon Officia</strong>
                            <i>Pariatur prehe cliche reprehrit</i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <em class="overflow-hidden"><img src="{% static 'assets/img/main/9.jpg' %}" alt="" /></em>
                        <span>
                            <strong>Food Truck Quinoa Nesciunt</strong>
                            <i>Craft labore wes anderson cred</i>
                        </span>
                    </a>
                </li>
            </ul>
        </div><!--/row-->
        <!-- End Recent Works -->
    </div><!--/col-md-9-->
</div><!--/row-->

<!-- Our Clients -->
<div id="clients-flexslider" class="flexslider home clients">
    <div class="headline"><h3>Our Clients</h3></div>
    <ul class="slides">
        <li>
            <a href="#">
                <img src="{% static 'assets/img/clients/hp_grey.png' %}" alt="" />
                <img src="{% static 'assets/img/clients/hp.png' %}" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'assets/img/clients/igneus_grey.png' %}" alt="" />
                <img src="{% static 'assets/img/clients/igneus.png' %}" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'assets/img/clients/vadafone_grey.png' %}" alt="" />
                <img src="{% static 'assets/img/clients/vadafone.png' %}" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'assets/img/clients/walmart_grey.png' %}" alt="" />
                <img src="{% static 'assets/img/clients/walmart.png' %}" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'assets/img/clients/shell_grey.png' %}" alt="" />
                <img src="{% static 'assets/img/clients/shell.png' %}" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'assets/img/clients/natural_grey.png' %}" alt="" />
                <img src="{% static 'assets/img/clients/natural.png' %}" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'assets/img/clients/aztec_grey.png' %}" alt="" />
                <img src="{% static 'assets/img/clients/aztec.png' %}" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'assets/img/clients/gamescast_grey.png' %}" alt="" />
                <img src="{% static 'assets/img/clients/gamescast.png' %}" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'assets/img/clients/cisco_grey.png' %}" alt="" />
                <img src="{% static 'assets/img/clients/cisco.png' %}" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'assets/img/clients/everyday_grey.png' %}" alt="" />
                <img src="{% static 'assets/img/clients/everyday.png' %}" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'assets/img/clients/cocacola_grey.png' %}" alt="" />
                <img src="{% static 'assets/img/clients/cocacola.png' %}" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'assets/img/clients/spinworkx_grey.png' %}" alt="" />
                <img src="{% static 'assets/img/clients/spinworkx.png' %}" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'assets/img/clients/shell_grey.png' %}" alt="" />
                <img src="{% static 'assets/img/clients/shell.png' %}" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'assets/img/clients/natural_grey.png' %}" alt="" />
                <img src="{% static 'assets/img/clients/natural.png' %}" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'assets/img/clients/gamescast_grey.png' %}" alt="" />
                <img src="{% static 'assets/img/clients/gamescast.png' %}" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'assets/img/clients/everyday_grey.png' %}" alt="" />
                <img src="{% static 'assets/img/clients/everyday.png' %}" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'assets/img/clients/spinworkx_grey.png' %}" alt="" />
                <img src="{% static 'assets/img/clients/spinworkx.png' %}" class="color-img" alt="" />
            </a>
        </li>
    </ul>
</div><!--/flexslider-->
<!-- End Our Clients -->
{% endblock %}
