{% extends "body_template.html" %}
{% load staticfiles %}

{% block header_area %}
Make sure to put in a note about how purchases photos are much higher resolution
{% endblock %}

{% block content %}
<div style="width: 100%; overflow: hidden;">
    <div style="width: 38%; display: block; float: left; overflow: hidden;">
        <img style="width: 100%;" src="{{picture.watermark_url}}"/>
    </div>
    <div style="width: 62%; overflow: hidden; display: block; float: left; ">
        <div style="width: 100%; padding: 10px;">
            <center>
                <h3>
                    Hey alright buy some stuff
                </h3>
            </center>
        </div>
        <div style="width: 50%; height: 250px; margin: auto; font-size: 1.2em;">
            {% for pricing in pricings %}
            <div style="margin-top: 10px;"><input type="radio" name="priceSelect" value = "{{ pricing.id }}"/><span style="margin-left: 10px;">{{ pricing.dimensions }}</span></div>
            {% endfor %}

            <div style="margin-top: 10px;">
                <a href="/blahblah" class="btn-u btn-u-lg"><i class="fa fa-camera-retro ">
                </i> Purchase</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
