{% extends "body_template.html" %}
{% load staticfiles %}

{% block header_area %}
Purchased images are all higher resolution than what is seen here.  Also note that aspect ratios are maintained with every purchase.  Therefore the dimensions specified represent the greatest width obtainable within the advertised aspect ratio.  Watermarks are absent, and all sales are entirely digital.
{% endblock %}

{% block content %}
    <style type="text/css">
        .input-cursor{
        }
        .input-cursor:hover {
            cursor: pointer;
        }
    </style>

<div style="width: 100%; overflow: hidden;">
    <div style="width: 38%; display: block; float: left; overflow: hidden;">
        <img style="width: 100%;" src="{{picture.watermark_url}}"/>
    </div>
    <div style="width: 62%; overflow: hidden; display: block; float: left; ">
        <div style="width: 100%; padding: 10px;">
            <center>
                <h3>
                    Purchase Photo
                </h3>
            </center>
        </div>
        <div style="width: 99%; height: 250px; margin: auto; font-size: 1.2em;">
            <div id="pricingArea">
            {% for pricing in pricings %}
            <div style="margin-top: 10px;">
                <input class="input-cursor" type="radio" name="priceSelect" value = "{{ pricing.id }}"
                    {% if forloop.last %}checked="checked"{% endif %}/>
                <span style="margin-left: 10px;">{{ pricing.dimensions }}</span>
                <span style="margin-left: 15px;">${{ pricing.price }}</span></div>
            {% endfor %}
            </div>
            <div id="fillArea" style="margin-top: 10px;">
                <a id="addToCart" href="javascript:void(0);" class="btn-u btn-u-lg"><i class="fa fa-shopping-cart">
                </i> Add to Cart</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    function finish(){
        // proceed to checkout or back to picture's event
        var redirectHTML =
            "<a href='/event/{{ picture.event_id}}/' style='background: #bbb;' class='btn-u btn-u-lg'>" +
            "Back to Event" +
            "</a>" +
            "<a href='/cart/'  style='margin-left: 5px;' class='btn-u btn-u-lg'>" +
            "<i class='fa fa-shopping-cart'></i> View Cart" +
            "</a>";
        $("#fillArea").empty().append(redirectHTML);
        $("#pricingArea").empty().append("<span style='margin-left: 5px;'>Picture added to cart.</span>");
    }
    $(document).ready(function(){
        $("#addToCart").click(function(){
            var newHTML = "<img src='{% static "assets/img/ajax-loader.gif" %}'/> ";
            $("#fillArea").empty().append(newHTML);
            var pricingID = $('input[name="priceSelect"]:checked').val();
            var pictureID = {{ picture.id }};
            var url = "/add_to_cart/";
            $.ajax({
                type: "POST",
                url: url,
                data: {
                    pricingID: pricingID,
                    pictureID: pictureID
                },
                success: function(response){
                    $("#addToCart").hide();
                    finish();
                }
            });
        });
    });
</script>
{% endblock %}
