{% extends "body_template.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'assets/css/pages/page_log_reg_v1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <!-- <form action="." method="POST" class="reg-page"> -->
                    <div class="reg-header">
                        <h2>Request a Private shoot</h2>
                    </div>

                    <label>Name</label>
                    <input type="text" id="nameInput" name="name" class="form-control margin-bottom-20">

                    <label>Email Address
                        <span class="color-red">*</span>
                        <span class="color-red required email"> This field is required</span>
                    </label>
                    <input type="text" id="emailInput" name="email" class="form-control margin-bottom-20">

                    <label>Contact Phone
                        <span class="color-red">*</span>
                        <span class="color-red required phone"> This field is required</span>
                    </label>
                    <input type="text" id="phoneInput" name="phone" class="form-control margin-bottom-20">

                    <label>Event Location
                        <span class="color-red">*</span>
                        <span class="color-red required location"> This field is required</span>
                    </label>
                    <input type="text" id="locationInput" name="location" class="form-control margin-bottom-20">

                    <label>Event Date/Time
                        <span class="color-red">*</span>
                        <span class="color-red required dateTime"> This field is required</span>
                    </label>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group date" id="datetimepicker1">
                                    <input type="text" id="dateTimeInput" class="form-control" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-lg-6">
                        </div>
                        <div class="col-lg-6 text-right" id="fillArea">
                            <button class="btn-u" type="submit" id="submitButton">Request</button>
                        </div>
                    </div>
                    <!-- </form> -->
            </div>
        </div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'assets/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $("#datetimepicker1").datetimepicker();
    });
    function validateForm(){
        var valid = true;
        $("#emailInput").val();
        $("#phoneInput").val();

        if($("#locationInput").val().length === 0){
            $(".required.location").show();
            valid = false;
        }
        if($("#dateTimeInput").val().length === 0){
            $(".required.dateTime").show();
            valid = false;
        }
        return valid;

    }
    $(document).ready(function(){
        $(".required").hide();
        $("#submitButton").click(function(){
            var valid = validateForm();
            if (!valid){
                return;
            }
            var loaderHTML = "<img src='{% static "assets/img/ajax-loader.gif" %}'/> ";
            $("#fillArea").empty().append(loaderHTML);
            $.ajax({
                type: "POST",
                url: "http://notsureyet.com",
                data: {
                    "key": "val"
                },
                success: function(response){
                    alert("finished");
                }
            });
        });
    });
</script>
{% endblock %}
